*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

section:nth-child(1){
  color: #fff;
}

section:nth-child(2){
  color: #1D212B;
}

section:nth-child(3){
  color: #1D212B;
  text-align: center;
  background: white;
}

section:nth-child(4){
  color: #1D212B;
}

section:nth-child(5){
  color: #1D212B;
  background: white;
}

section .container{
  margin: auto;
}

section h1{
  font-size: 200px;
}

section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.scroll{
    font-size: 40px;
    text-align: center;
}

section .cards{
  display: block;
  width: 25cm;
}

section .cards .text-card{
    background: #252a2e;
    border-radius: 10px;
    // box-shadow: 5px 10px 10px lightgray;
    margin: 20px;
    padding: 20px;
    color: whitesmoke;
}

section .cards .text-card h3{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 40px;
    }

    section .cards{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
      
section .cards .text-card p{
    font-size: 20px;
}

.example{
    text-align: center;
    font-size: 25cm;
}

.answer{
    font-size: 30px;
}

.but{
    padding-left: 10%;
    padding-right: 10%;
}

.but button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #fdfdfd;
    border-radius: 10px;
}

.but a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.title{
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    position: relative;
}

.but1{
    padding-left: 10%;
    padding-right: 10%;
}

.but1 button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

.but1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav_container{
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  /* overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 90px;
  background: rgb(255, 255, 255);
  // background-color: adjust-color($color: black, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0);
}

.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li{
  margin: 0 1.5rem;
  padding: 2.5rem 0;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.navbar ul li a:hover{
  // color: rgb(182, 182, 182);
  font-weight: 800;
  // font-size: 20px;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sub{
  background: linear-gradient(45deg, #23d5ab ,#23a6d5, );
}

.scrolling{
  height: 90px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 80%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.scrolling::before,
.scrolling::after{
  content: '';
  position: absolute;
  top: 5%;
  left: 28%;
  border: 2px solid rgb(0, 0, 0);
  height: 20px;
  width: 20px;
  transform: translate(-50, -50);
  transform: rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  // animation: scroll-down 1s ease-in-out infinite;
}

// .scrolling::after{
//   top: 10%;
//   animation-delay: .3s;
// }

// @keyframes scroll-down{
//   0%{
//     opacity: 0;
//   }
//   30%{
//     opacity: 1;
//   }
//   60%{
//     opacity: 1;
//   }
//   100%{
//     opacity: 0;
//     top: 73%;
//   }
// }

::-webkit-scrollbar{
  width: 25px;
}

::-webkit-scrollbar-track{
  border: transparent;
  // box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: rgb(209, 209, 209);
  border-radius: 3px;
}

.to-top{
  background: #dfdfdf;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #535353;
  text-decoration: none;
  opacity: 0;
  transition: all .4s;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.to-top .arrow{
  
}
